@charset "utf-8";

main{
    height: 830px;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

main .cloud{
    width: 100%;
    height: 100%;
    background-image: url(../img/cloud.png);
    background-position: 0% 130%;
    background-repeat: no-repeat;
    animation: 160s moveCloud infinite linear;
}
@keyframes moveCloud{
    0%{background-position: 0% 130%;}
    50%{background-position: 100% 130%;}
    100%{background-position: 0% 130%;}
}

main .wrap{
    margin: 0 auto;
    display: flex;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
main .wrap .title{color: #fff;}
main .wrap .title p{
    font-size: 18px;
}
main .wrap .title h1{
    font-size: 36px;
    font-weight: normal;
}
main .wrap .title h1 span{
    font-size: 48px;
}

main .wrap .title ul{
    padding-top: 60px;
    display: flex;
}
main .wrap .title ul li{margin: 0 20px;}
main .wrap .title ul li a{
    display: block;
    width: 160px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: #5e889e;
    text-align: center;
    border-radius: 4px;   
}
main .wrap .title ul li:hover a{
    background-color: #c5a5b2;
    color: #755562;
    transition: color 0.5s, background-color 0.5s;
}

/*******#sec1********/
#sec1{min-height: 468px;}
#sec1 .wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    vertical-align: top;
}
#sec1 .wrap .box{
    width: calc(100% / 3 - 20px);
    height: 260px;
    text-align: center;
    margin: 0 10px 50px;
}
#sec1 .wrap .box .img_part{
    width: 100%;
    height: 130px;
}
#sec1 .wrap .box .img_part img{}
#sec1 .wrap .box .txt_part{color: #5c5c5c;}
#sec1 .wrap .box .txt_part h3{
    font-size: 18px;
    line-height: 20px;
    padding: 20px 0;
}
#sec1 .wrap .box .txt_part p{
    font-size: 14px;
}

/*******#sec2********/
#sec2{
    width: 100%; 
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-image: url(../img/Investment-Performance-Banner-650.jpg);
}
#sec2 .dark{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
}
#sec2 .dark .wrap{
    width: 1200px; 
    margin: 0 auto;
    text-align: center;
}
#sec2 .dark .wrap h2{
    font-size: 24px;
    color: #fff;
}
#sec2 .dark .wrap .detail_btn{padding-top: 20px;}
#sec2 .dark .wrap .detail_btn a{
    display: block;
    font-size: 16px;
    color: #5e889e;
}
#sec2 .dark .wrap .detail_btn a:hover{
    color: #755562;
    transition: color 0.5s;
}

/*******#sec3********/
#sec3{
    padding: 80px 0;
    background-size: cover;
    background-position: 50% 0%;
    background-image: url(../img/main2-bg.png);
}
#sec3 .wrap{
    width: 1200px;
    margin: 0 auto;
}
#sec3 .wrap .tit{padding-bottom: 40px;}
#sec3 .wrap .tit h2{
    font-size: 36px;
    color: #5e889e;
    line-height: 30px;
    text-align: center;
}

#sec3 .wrap .cont{
    display: flex;
    flex-wrap: wrap;
}
#sec3 .wrap .cont .box{
    width: calc(25% - 20px);
    height: 420px;
    margin: 0 10px;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}
#sec3 .wrap .cont .box:hover{
    box-shadow: 0 0 6px rgba(0,0,0,0.8);
    transition: box-shadow 0.5s;
}
#sec3 .wrap .cont .box .img_part{
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: 50% 50%;
}
#sec3 .wrap .cont .box .txt_part{color: #5c5c5c;}
#sec3 .wrap .cont .box .txt_part h3{
    font-size: 18px;
    line-height: 14px;
    padding: 40px 0 10px;
}
#sec3 .wrap .cont .box .txt_part p{
    font-size: 14px;
}
#sec3 .wrap .cont .box .more_btn{
    position: absolute;
    bottom: 20px; right: 20px;
}
#sec3 .wrap .cont .box .more_btn img{
    display: block;
    height: 40px; width: 40px;
}
#sec3 .wrap .cont .box .more_btn:hover img{
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: box-shadow 0.5s;
}

#sec3 .wrap .pay_img{
    padding: 100px 10px 0px;
}
#sec3 .wrap .pay_img img{
    display: block;
    width: 1180px;
}

/*******#sec4********/
#sec4{
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/quick-enquiry.jpg);
}
#sec4 .blue{
    width: 100%; height: 100%; 
    padding: 60px 0 60px;
    background-color: rgba(94, 136, 158,0.5);
}
#sec4 .blue .wrap{
    width: 1200px;
    margin: 0 auto;
}
#sec4 .blue .wrap .tit{}
#sec4 .blue .wrap .tit h2{
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
    line-height: 30px;
}
#sec4 .blue .wrap .managers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#sec4 .blue .wrap .managers a{
    display: block;
    width: calc(100% / 6 - 20px);
    height: 100px;
    margin: 0 10px 20px;
}
#sec4 .blue .wrap .managers a img{
    display: block;
}

